<div class="nav">
  <p>
    <mat-toolbar color="primary">
      <span>Nurse dashboard</span>
      <span class="example-spacer"></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" matTooltip="Pick appointments" (click)="notificationBadge > 0 && enableSidebar()"
        aria-label="Example icon-button with share icon" [matMenuTriggerFor]="notification">
        <mat-icon [matBadge]="notificationBadge > 0? notificationBadge : null"
          matBadgeColor="warn">notifications</mat-icon>
      </button>
        <mat-menu #notification="matMenu">
          <div mat-dialog-content *ngIf="notificationBadge <= 0">
            <div style="padding: 0.5rem; margin-left: 1rem; margin-right: 1rem;">
              <h3 style="margin-bottom: -0.5rem;">No accepted appointments are available to pick </h3>
            </div>
          </div>
        </mat-menu>
        <button matTooltip="Info" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>info</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div mat-dialog-content>
            <div style="padding: 0.5rem; margin-left: 1rem; margin-right: 1rem;">
              <h3 style="margin-bottom: -0.5rem;">Click on the "🔔" to pick appointments</h3>
          </div>
        </div>
      </mat-menu>
      <!-- <span *ngIf="(auth.isAuthenticated$ | async) === true"> -->
      <button (click)="logout()" matTooltip="logout" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
      <!-- </span> -->
    </mat-toolbar>
  </p>
</div>