<mat-toolbar color="primary">
  <div style="width: fit-content; margin: auto;">
    <span style="cursor: pointer;" matTooltip="Registration">Patient Sign Up</span>
  </div>
  <span class="example-spacer"></span>
  <button (click)="NavigateToMain()" matTooltip="Go back to main page" mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
<br><br>
<h1>Hello! Please complete the registration</h1>

<div class="step-container">
  <mat-stepper linear #stepper>
    <mat-step [stepControl]="registerForm1" [editable]="true">
      <form [formGroup]="registerForm1">
        <ng-template matStepLabel>Fill out your details</ng-template>
        <div class="first-step-form">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" placeholder="Ex. mat@gmail.com" required/>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput formControlName="pasword" placeholder="Ex. Gtyki@98!" required/>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div>
            <button matStepperNext mat-button (click)="checkUser()">Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="registerForm2" [editable]="true">
      <form [formGroup]="registerForm2">
        <ng-template matStepLabel>Fill out some personal details</ng-template>
        <div class="first-step-form">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input type="text" matInput formControlName="fullname" placeholder="Ex. Mike" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Phone</mat-label>
              <input type="number" matInput formControlName="phone" placeholder="Ex. 8679457965" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Gender</mat-label>
              <input type="text" matInput formControlName="gender" placeholder="Select" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Age</mat-label>
              <input type="number" matInput formControlName="age" placeholder="Ex. 22" />
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="registerForm3" [editable]="true">
      <form [formGroup]="registerForm3">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <div class="first-step-form">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <input type="text" matInput formControlName="adressLine" placeholder="Ex. 100 Main St"/>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input type="text" matInput formControlName="city" placeholder="Bangalore" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input type="text" matInput formControlName="state" placeholder="karnataka" />
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
          </div>
          <div>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
          <div style="margin-top: 0.2rem;">
            <button [disabled]="!registerForm1.valid" (click)="registration()" (click)="login()"  mat-raised-button color="primary">Sign
              Up</button><br><br>
            <span>Signed Up Already? <a matTooltip="go to login page" (click)="navToLogin()"
                style="cursor: pointer; text-decoration: underline; color: blue;">Login</a> </span>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>