<p>
    <mat-toolbar color="primary">
        <button mat-icon-button matTooltip="go back" (click)="navToNurseDashBoard()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span>All the accepted requests </span>
    </mat-toolbar>
    <mat-progress-bar class="progress-bar" mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
</p>

<div class="inner2">
    <br>
    <div class="request-container">
        <mat-card style="margin-bottom: 1rem;">
            <mat-card-content>
                <div class="appointment-card" style="display: flex; justify-content: center; align-items: center; gap: 5px;">
                    <img style="width: 50px; height: 50px; object-fit: cover;" src="https://cdn-icons-png.flaticon.com/512/9865/9865076.png" alt="appointment icon"/>
                    <span
                        style="font-size: 1rem; font-weight: 500; color: rgb(237, 97, 97); text-align: center;">Accepted
                        requests</span>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="container">
            <div *ngFor="let capp of completeAppointments">
                <mat-card class="app-card-grp">
                    <div>
                        <mat-card class="app-card">
                            <div class="card-top-section">
                                <div class="app">
                                    Appointment request
                                </div>
                                <div class="date-section">
                                    <span>
                                        <img class="icon-class" src="https://cdn-icons-png.flaticon.com/512/591/591607.png" alt="date icon">
                                    </span>
                                    <span class="app-value">
                                        {{capp.appointment.date}}
                                    </span>
                                </div>
                            </div>
                        </mat-card>
                        <div class="content-section">
                             <div class="pat-section">
                                <div class="inner-pat-section">
                                <div>
                                    <span>
                                        <img class="icon-class" src="https://cdn-icons-png.flaticon.com/512/2869/2869791.png" alt="patient name">
                                    </span>
                                    <span class="value">
                                        {{capp.patient.fullname}}
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <img class="icon-class" src="https://cdn-icons-png.flaticon.com/512/2785/2785544.png" alt="doctor name">
                                    </span>
                                    <span>
                                        <span class="value">
                                            {{capp.doctor.name}}
                                        </span>
                                    </span>
                                </div>
                            </div>
                             </div>   
                             <div>
                            </div>
                        </div>
                        <div class="btn-section">
                            <button mat-button class="btn" (click)="pickAppointment(capp.appointment.appointmentId)">Pick</button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
        <!-- <div class="cards-container" *ngFor="let capp of completeAppointments">
            <div class="simple-card">
                <mat-card class="main-card">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-content">
                                <mat-card-content>Patient name : {{capp.patient.fullname}}</mat-card-content>
                            </div>
                            <div class="card-content">
                                <mat-card-content>Doctor name : {{capp.doctor.name}}</mat-card-content>
                            </div>
                        </div>
                        <div>
                            <div class="card-content">
                                <mat-card-content>Appointment date : {{capp.appointment.date}}</mat-card-content>
                            </div>
                            <div style="display: flex; justify-content: flex-end; margin-right: 7.5rem;">
                                
                                <div class="card-content">
                                    <button mat-stroked-button color="accent" class="pick-btn" (click)="pickAppointment(capp.appointment.appointmentId)">Pick</button>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                   
                </mat-card>
            </div>
        </div> -->

        <!-- <div *ngFor="let pa of patientAppointmentInfo">
      <mat-accordion class="patient-container patient-container-2" multi="false">
        <mat-expansion-panel style="margin-bottom: 0.1rem; display: flex; justify-content: center; flex-direction: column;"  class="expansions" *ngIf="pa.appointment.status==0">
            <mat-expansion-panel-header>
                <mat-panel-title class="gender-icon-gap">
                    <div [ngSwitch]="pa.patient.gender">
                        <mat-icon *ngSwitchCase="'male'">male</mat-icon>
                        <mat-icon *ngSwitchCase="'Male'">male</mat-icon>
                        <mat-icon *ngSwitchCase="'female'">female</mat-icon>
                        <mat-icon *ngSwitchCase="'Female'">female</mat-icon>
                        <mat-icon *ngSwitchDefault>account_circle</mat-icon>
                    </div>
                    <button #x [value]="pa.appointment.appointmentId" style="display: none;"></button>
                     {{x.value}} - {{appointment.name}}
                    {{pa.patient.fullname}}    {{pa.appointment.status}}
                </mat-panel-title>
                <mat-panel-description>
                    {{pa.appointment.date}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="example-button-row">
                <br>
                <p></p>
                <button class="btn-bottom-border first-btn" extended mat-button color="accent" style="color: green;"
                    disabled="true">
                    Booked appointment for <br>{{pa.appointment.date}}
                </button>
                <span class="example-spacer2"></span>
                <button class="btn-bottom-border" extended mat-button color="accent" style="color: green;" (click)="updateStatusByDoctor(pa.appointment.appointmentId,1)"
                    matTooltip="accept request" (click)="pa.appointment.status=1">
                    <mat-icon>done</mat-icon>Accept
                </button>
                <button class="btn-bottom-border" extended mat-button color="accent" style="color: red;" (click)="updateStatusByDoctor(pa.appointment.appointmentId,2)"
                    matTooltip="reject request" (click)="pa.appointment.status=2" >
                    <mat-icon>clear</mat-icon>Reject
                </button>
                <br>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
  </div> -->
        <br>
    </div>
</div>