<p>
  <mat-toolbar color="primary" class="nav-bar">
    <span>Doctor Dashboard</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" matTooltip="view notifications" [matMenuTriggerFor]="info"
      aria-label="Example icon-button with share icon">
      <mat-icon matBadgeColor="warn">info</mat-icon>
    </button>
    <mat-menu #info="matMenu">
      <div class="icon-info">
        <ul>
          <li><mat-icon style="color:tomato; size: 0.5rem;">thumb_up</mat-icon>: basic health details added </li>
          <!-- <li><mat-icon style="color:tomato">male</mat-icon>: Male patient</li>
        <li><mat-icon style="color:tomato">female</mat-icon>: Female patient</li> -->
        </ul>
      </div>
    </mat-menu>
    <button mat-icon-button class="example-icon" matTooltip="view notifications" [matMenuTriggerFor]="notification"
      (click)="notificationBadge > 0 && enableSidebar()" aria-label="Example icon-button with share icon">
      <mat-icon [matBadge]="notificationBadge > 0? notificationBadge : null"
        matBadgeColor="warn">notifications</mat-icon>
    </button>
    <mat-menu #notification="matMenu">
      <div mat-dialog-content *ngIf="notificationBadge <= 0">
        <div style="padding: 0.5rem; margin-left: 1rem; margin-right: 1rem;">
          <h4 style="margin-bottom: -0.5rem;">Zero appointment requests</h4>
        </div>
      </div>
    </mat-menu>
    <!-- <span *ngIf="(auth.isAuthenticated$ | async) === true"> -->
    <button (click)="logout()" matTooltip="logout" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
    <!-- </span> -->
  </mat-toolbar>
  <mat-progress-bar class="progress-bar" mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
</p>


<br>
<br><br>
<div class="outer">
  <div class="inner1" *ngIf="totalPatients > 0; else noContent">
    <h1>Hello {{docName}}</h1>
    <h2>Patients for today - {{date | date : 'EEEE'}}</h2>
    <h4 id="total-patients">Total : {{totalPatients}}</h4>
    <br>
    <mat-accordion class="patient-container" multi="false">
      <mat-expansion-panel style="margin-bottom: 0.1rem;" *ngFor="let patient of patientByAppointments"
        class="expansions">
        <mat-expansion-panel-header (click)="hideAll()">
          <mat-panel-title>
            <button #x [value]="patient.patient.fullname" style="display: none;"></button>
            <div [ngSwitch]="patient.patient.gender" class="icon-gap">
              <mat-icon *ngSwitchCase="'male'">male</mat-icon>
              <mat-icon *ngSwitchCase="'Male'">male</mat-icon>
              <mat-icon *ngSwitchCase="'female'">female</mat-icon>
              <mat-icon *ngSwitchCase="'Female'">female</mat-icon>
              <mat-icon *ngSwitchDefault>account_circle</mat-icon>
            </div>
            {{patient.patient.fullname}}
          </mat-panel-title>
          <mat-panel-description>
            Age : {{patient.patient.age}}
          </mat-panel-description>
          <mat-panel-description>
            <mat-icon *ngIf="patient.appointment.status == 4" style="color:tomato">thumb_up</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br>

        <!-- Patient expansion buttons -->

        <div class="example-button-row">
          <button class="btn-bottom-border" extended mat-button color="accent" matTooltip="View basic health details"
            (click)="toggleBasicDetails(patient.patient.patId, patient.appointment.appointmentId)">
            <mat-icon>visibility</mat-icon>Basic details
          </button>
          <button class="btn-bottom-border" extended mat-button color="accent"
            matTooltip="View patient's health history" (click)="navToViewHistory(patient.patient.patId)">
            <mat-icon>visibility</mat-icon>Health history
          </button>
          <button (click)="navToAddRecord(patient.patient.patId)" class="btn-bottom-border" extended mat-button
            color="warn" matTooltip="Add patient's health record">
            <mat-icon>add</mat-icon>Add record
          </button>
          <button (click)="navToUpdateRecord(patient.patient.patId)" class="btn-bottom-border" extended mat-button
            color="warn" matTooltip="Update patient's health record">
            <mat-icon>add</mat-icon>Update record
          </button>
        </div>
        <br>

        <!-- Basic details patient -->

        <mat-card class="class-container" *ngIf="basicDetails">

          <br>
          <!-- <h2 style="text-align: center; color: green;"> {{patient.patient.fullname}}'s basic health record</h2> -->
          <div class="card-container">
            <div *ngIf="patientBasicDetails != null; then showCard else dontShow"></div>
            <!-- <app-basic-details></app-basic-details> -->
            <ng-template #showCard>
              <mat-card class="example-card">
                <mat-card-header>
                  <div class="card-head">
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <h3>{{patient.patient.fullname}}'s basic health record</h3>.
                    <mat-icon color="warn">assignment</mat-icon>
                    <!-- <mat-card-subtitle>13-MAR-2023</mat-card-subtitle> -->
                  </div>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="card">
                  <!-- <h3>Basic Details</h3> -->
                  <div class="card-desp">
                    <span>Blood pressure</span>
                    <p>{{patientBasicDetails?.bp}}</p>
                  </div>
                  <div class="card-desp">
                    <span>SpO2</span>
                    <p>{{patientBasicDetails?.spO2}}</p>
                  </div>
                  <div class="card-desp">
                    <span>Heart Rate</span>
                    <p>{{patientBasicDetails?.heartRate}}</p>
                  </div>
                  <div class="card-desp">
                    <span>Height</span>
                    <p>{{patientBasicDetails?.height}}</p>
                  </div>
                  <div class="card-desp">
                    <span>Weight</span>
                    <p>{{patientBasicDetails?.weight}}</p>
                  </div>
                  <div class="card-desp">
                    <span>Body Temparature</span>
                    <p>{{patientBasicDetails?.temperature}}</p>
                  </div>
                  <div class="card-desp">
                    <span>Blood group</span>
                    <p>{{patientBasicDetails?.bloodGroup}}</p>
                  </div>
                  <h3 *ngIf="allregyLen > 0; then allergies else noAllergies">Patient allergies
                  </h3>
                  <!-- <div class="card-desp"> -->
                  <ng-template #allergies>
                    <div class="card-desp" *ngFor="let allergyObj of patientBasicDetails?.allergies; index as i">
                      <span>Allergy-{{i+1}}</span>
                      <!-- <div > -->
                        <p>{{allergyObj.allergy}}</p>
                      <!-- </div> -->
                    </div>
                  </ng-template>
                  <ng-template #noAllergies>
                    <div class="card-desp">
                      <span>Allergies</span>
                      <p>Free of allergies</p>
                    </div>
                  </ng-template>
                  <!-- </div> -->
                </mat-card-content>
              </mat-card>
            </ng-template>
            <ng-template #dontShow>
              <div>
                <mat-card-title style="color : red; font-size : o.8rem">Basic details are not added</mat-card-title>
              </div>
            </ng-template>
          </div>
          <br>
        </mat-card>

        <!-- Add patient health record -->

        <mat-card class="class-container" *ngIf="healthRecord">

          <br>
          <h2 style="text-align: center; color: green;"> Add {{patient.patient.fullname}}'s health record</h2>
          <div class="card-container">
            <app-add-health></app-add-health>
          </div>
          <br>
          <br>
        </mat-card>

        <!-- Patient's history page -->

        <mat-card class="class-container" *ngIf="history">
          <br>
          <h2 style="text-align: center; color: green;">{{patient.patient.fullname}}'s health history</h2>
          <div class="card-container">
            <!-- <app-patient-complete-history></app-patient-complete-history> -->
          </div>
          <br>
          <mat-card-actions class="btn-close">
            <button mat-stroked-button color="accent" style="border: none; font-size: medium;"
              (click)="history = false"><b>Close history</b></button>
          </mat-card-actions>
          <br>
        </mat-card>

        <!-- ---------------------- -->

      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ng-template #noContent>
    <div class="no-patients">
      Hello {{docName}} 👍<br><br>
      Looks like there are no patients for today 
    </div>
  </ng-template>
</div>