.updateform {
  padding-top: 10px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    width: 35rem;
    margin: auto;
    margin-top: 50px;
    color: rgb(8, 9, 19);
    /* backdrop-filter: blur(1px) saturate(150%); */
    /* background-color: whitesmoke; */
    border-radius: 12px;
    /* border: 1px solid rgba(26, 2, 2, 0.125); */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
  }

  .updateformallergy{
    padding-top: 10px;
    text-align: center;
    max-width: 500px;
    margin: auto;
    width: 35rem;
    margin: auto;
    color: rgb(8, 9, 19);
    /* backdrop-filter: blur(1px) saturate(150%); */
    /* background-color: whitesmoke; */
    border-radius: 12px;
    /* border: 1px solid rgba(26, 2, 2, 0.125); */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .example-full-width {
    width: fit-content;
    margin: auto;
    color: rgb(8, 9, 19);
    border-radius: 12px;
    
  }

  button{
    width: 100px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
  
  
  
  
