<p>
  <mat-toolbar color="primary">
    <button mat-icon-button matTooltip="go back" (click)="navToDashboard()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Add patient's diagnostic report</span>
  </mat-toolbar>
</p>

<!-- <mat-card class="example-card health"> -->
<div class="card-grp">
  <mat-card-content class="health-cards" [formGroup]="healthform">
    <div class="patient-details">
      <h1>Patient name : <b>{{patientName}}</b></h1>
    </div>
    <br>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tests
          </mat-panel-title>
          <mat-panel-description>
            Add patient's test-results below
          </mat-panel-description>
        </mat-expansion-panel-header>
        <br>
        <mat-hint style="color:rgb(231, 75, 75)"><b>Note : submit the test to add new one </b></mat-hint>
        <br><br><br>
        <form [formGroup]="testForm" (ngSubmit)="SubmitTest()">
        <div class="test-fields">
            <mat-form-field appearance="outline">
              <mat-label>Test</mat-label>
              <input matInput formControlName="Test" placeholder="Enter test name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Result</mat-label>
              <input matInput formControlName="result" placeholder="Enter test result">
              <mat-icon matSuffix>create</mat-icon>
            </mat-form-field>
            <div class="test-btn">
              <button mat-raised-button color="warn">Add test</button>
            </div>
          </div>
        </form>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Add medications
          </mat-panel-title>
          <mat-panel-description>
            Enter all prescribed medications
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <br>
        <mat-hint style="color:rgb(231, 75, 75)"><b>Note : submit the medication to add new one </b></mat-hint>
        <br><br><br>
        <form [formGroup]="drugForm" (ngSubmit)="SubmitDrugs()">
        <div class="test-fields">
          <mat-form-field appearance="outline">
            <mat-label>Medicine</mat-label>
            <input matInput formControlName="Drugs" placeholder="Enter medicine name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput formControlName="Quantity" placeholder="Eg. 1-1-0/day for 2Days">
            <mat-icon matSuffix>assignment</mat-icon>
          </mat-form-field>
          <div class="test-btn">
            <button color="warn" mat-raised-button>Add medicine</button>
          </div>
          <!-- <button mat-raised-button class="hide-btn"></button> -->
        </div>
      </form>


        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Conclusion
          </mat-panel-title>
          <mat-panel-description>
            Enter suggesttions Eg: Diet restrictions
          </mat-panel-description>
        </mat-expansion-panel-header>

        <br>
        <br><br>
        <form [formGroup]="healthform" (ngSubmit)="submitHealth()">
        <div class="test-fields">
            <mat-form-field appearance="outline">
              <mat-label>suggestions</mat-label>
              <textarea matInput formControlName="Conclusion" placeholder="Enter suggestion"></textarea>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <div class="test-btn">
              <button mat-raised-button color="warn">Add suggestion</button>
            </div>
          </div>
        </form>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Save</button>
        </mat-action-row>
      </mat-expansion-panel>

    </mat-accordion>

  </mat-card-content>
</div>

<!-- </mat-card> -->
