.example-spacer {
  flex: 1 1 auto;
}

.hisBtn{
  margin-left: 2rem;
  margin-top: 1rem;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.container{
  display: flex;
  width: 100%;
  margin: auto;
}

mat-accordion{
  width: 600px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.app-grp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: auto;
}