<h1 mat-dialog-title>Update doctor schedule</h1>
<div mat-dialog-content>To mark availabity of the doctors, please mark the check boxes and click on schedule button below.</div>
<div mat-dialog-content>To mark unavailabity of the doctors, please leave check boxes empty and click on schedule button below.</div>
<div mat-dialog-actions class="close-btn">
  <button mat-button mat-dialog-close>Close</button>
</div>
<!-- <div style="display: flex; justify-content: center; align-items: center; width: 100vw; margin: auto;">
    <mat-card style="width: 100vw;">
      <div style="padding: 1rem 0 0 1rem">
        <mat-card-title>
          Note
        </mat-card-title>
        <mat-card-content style="display: flex; flex-direction: column;">
          <span>To mark availabity of the doctors, please mark the check boxes and click on schedule button below.</span>
          <span>To mark unavailabity of the doctors, please leave check boxes empty and click on schedule button below.</span>
        </mat-card-content>
      </div>
    </mat-card>
  </div> -->