<mat-toolbar color="primary" style="gap: 2rem; display: flex; justify-content: space-between;">
  <button mat-icon-button matTooltip="go back" (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span style="font-size: 1rem;">Patients details</span>
</mat-toolbar>

<!-- <mat-tab-group mat-stretch-tabs class="stretched-tabs mat-elevation-z4" color="primary" #tabGroup
  (selectedIndexChange)="_setDataSource($event)"></mat-tab-group> -->

<mat-tab-group fitInkBarToContent>
  <mat-tab label="Card view">
    <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 2rem;">
      <div>
        <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
      </div>
      <div class="card-grp" *ngFor="let p of patients | paginate
      : {
          itemsPerPage: tableSize,
          currentPage: page,
          totalItems: count
        };
  let i = index">
        <div>
          <mat-card class="example-card">
            <mat-card-header>
              <div class="card-head">
                <mat-icon style="width: fit-content; margin: auto;">face</mat-icon><br>
                <mat-card-title style="text-align: center; font-size: 1rem;">{{p.fullname}}</mat-card-title>
                <span style="text-align:center">{{p.gender}} ({{p.age | date : 'dd-MMM-YYYY'}})</span>
                <mat-card-subtitle style="text-align: center;">{{p.city}} ({{p.state}})</mat-card-subtitle>
              </div>
            </mat-card-header>
            <mat-card-content class="card">
              <mat-divider style="margin-bottom: 1rem;"></mat-divider>
              <div class="card-head">
                <mat-icon style="text-align: center; width: fit-content; margin: auto;" class="icon">contacts</mat-icon>
                <div style="display: grid; grid-template-rows: 1fr 1fr; justify-content: center;">
                  <span style="text-align: center;">{{p.email}}</span>
                  <span style="text-align: center;">{{p.phone}}</span>
                </div>
              </div><br>
              <mat-divider style="margin-bottom: 0.5rem;"></mat-divider>
              <div class="card-head">
                <mat-icon style="text-align: center; width: fit-content; margin: auto;" class="icon">map</mat-icon>
                <span>{{p.adressLine}}</span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div><br><br>
    <pagination-controls style="display: flex; justify-content: center;" previousLabel="Prev" nextLabel="Next"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
    <!-- <mat-paginator class="pagination" style="display: flex; justify-content: center;" #paginator [pageSize]="pagesize"
       [length]="resLen">
    </mat-paginator> -->
  </mat-tab>
  <mat-tab id="tab-2" label="Table view">
    <app-table-view></app-table-view>
  </mat-tab>
</mat-tab-group>
<!-- <body style="display: flex; flex-wrap: wrap;">
  <mat-tab label="cards 1"></mat-tab>
  <div class="card-grp" *ngFor="let p of obs | async">
    <div>
      <mat-card class="example-card">
        <mat-card-header>
          <div class="card-head">
            <mat-icon style="width: fit-content; margin: auto;">face</mat-icon><br>
            <mat-card-title style="text-align: center; font-size: 1rem;">{{p.name}}</mat-card-title>
            <span style="text-align:center">{{p.gender}} ({{p.age}})</span>
            <mat-card-subtitle style="text-align: center;">{{p.city}} ({{p.state}})</mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content class="card">
          <mat-divider style="margin-bottom: 1rem;"></mat-divider>
          <div class="card-head">
            <mat-icon style="text-align: center; width: fit-content; margin: auto;" class="icon">contacts</mat-icon>
            <div style="display: grid; grid-template-rows: 1fr 1fr; justify-content: center;">
              <span style="text-align: center;">{{p.email}}</span>
              <span style="text-align: center;">{{p.phone}}</span>
            </div>
          </div><br>
          <mat-divider style="margin-bottom: 0.5rem;"></mat-divider>
          <div class="card-head">
            <mat-icon style="text-align: center; width: fit-content; margin: auto;" class="icon">map</mat-icon>
            <span>{{p.address}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-paginator class="pagination" style="display: flex; justify-content: flex-end;" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>    
</body> -->
