:root {
    
  font-size: 15px;
  
  /* Primary */
  --var-soft-blue: hsl(215, 51%, 70%);
  --var-cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --var-main-darkest: hsl(217, 54%, 11%);
  --var-card-dark: hsl(216, 50%, 16%);
  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;
  
  /* Fonts */
  
  --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
  
  --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
  
  --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

.tab-grp{
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.example-spacer {
  flex: 11 auto;
}
.navbar
{
  justify-content: space-between;
}
/* .space{
  padding-left: 45%;
} */
.mainpage
{
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 2rem;
  padding: 1rem;
}

.doctorhead{
  display: flex;
  justify-content: space-between;
}

mat-toolbar{
  background-color: hsl(217, 54%, 11%);
}


.card-grp{
  height: 400px;
}

.card-grp > div{
  display: flex;
}

.pagination{
  height: 50px;
  width: 100%;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.example-card {
  /* margin-left: 2rem; */
  margin-top: 2rem;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: hsl(216, 50%, 16%);
  transition: 0.3s all;
}

mat-card-subtitle{
  color: hsl(215, 51%, 70%);
  font-size: 0.795rem;
}


mat-card-title{
  color: white;
  font-size: 0.895rem;
}

p{
  font-size: 0.675rem;
  font-weight: 500;
  color: hsl(215, 51%, 70%);
}

span, ol{
  font-size: 0.775rem;
  font-weight: 500;
  letter-spacing: 3;
  color: white;
}

h3{
  font-size: 0.785rem;
  font-weight: 500;
  letter-spacing: 3;
  color:hsl(178, 100%, 50%);
}

mat-icon{
  color:hsl(178, 100%, 50%);
  margin-top: 2px;
}


.card-head{
  display: grid;
  /* grid-template-rows: repeat(3,1fr); */
  align-items: center;
  justify-content: center;
  margin: auto;
}

.example-card:hover{
  opacity: 0.95;
}

.example-header-image {
  background-image: url('https://www.freeiconspng.com/uploads/schedule-icon-8.png');
  background-size: cover;
}

.card-desp{
  display: flex;
  justify-content: space-between;
}

.card{
  margin-top: 1rem;
}