
<!-- <mat-spinner></mat-spinner> -->
<p>
  <mat-toolbar color="primary">
    <span style="cursor: pointer;" matTooltip="home">Hospital Management System</span>
    <span class="example-spacer"></span>
      <!-- <span *ngIf="(auth.isAuthenticated$ | async) === true"> -->
      <span *ngIf="flag">
      <button (click)="logout()" matTooltip="logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </span>
    <!-- <span *ngIf="(auth.isAuthenticated$ | async) === false"> -->
    <span *ngIf="!flag">
      <button (click)="loginWithRedirect()" matTooltip="Management login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>manage_accounts</mat-icon>
      </button>
    </span>
  </mat-toolbar>
</p><br><br><br><br><br>

<div style="display: flex; flex-direction: column; gap: 1rem;">
  <h1 style="text-align: center; font-size: 3rem;">Welcome back 😇</h1>
  <button mat-raised-button color="primary" (click)="NavigateToLogin()" matTooltip="Login to continue" class="example-icon">
    Already have an account?
  </button><br>
  <button mat-stroked-button color="accent" (click)="NavigateToSignUp()" matTooltip="Register now" class="example-icon">
    Get started!
  </button>
  <!-- <button mat-stroked-button color="primary">Primary</button> -->
</div>
<h2 style="text-align: center; margin-top: 1rem;">Some of our doctors</h2>
<div class="card-grp">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Venkat</mat-card-title>
      <mat-card-subtitle>16yrs of experience</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mike</mat-card-title>
      <mat-card-subtitle>10yrs of experience</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jenny</mat-card-title>
      <mat-card-subtitle>13yrs of experience</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>
</div>

<!-- <div class="grid-grp" >
  <mat-grid-list cols="2" rowHeight="2:1" [gutterSize]="'10px'">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div> -->




