
<div style="display: flex; flex-direction: column; gap: 1rem; align-items: center; justify-content: center;" class="update-box">
  
  <mat-card class="table-card">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isUpdating"></mat-progress-bar>
    <br>
    <mat-card-title class="update-title">
      <div class="update-head">
        <div class="update-text">
          <span style="color: ec3b79;">Update doctor schedule</span>
        </div>
        <div class="info-icon">
        <button mat-icon-button  aria-label="Example icon button with a home icon" matTooltip="info" (click)="openInfoDialog('20ms','20ms')">
          <mat-icon style="color:slategray;">info</mat-icon>
        </button>
        </div>
      </div>
      <div style="display: flex;align-items: center; justify-content: center; gap: 1em;">
        <div>
          <span style="color: slategrey; font-size: 0.875rem;">Today's date</span> 
        </div>
        <div>
          <span style="font-size: 0.885rem;">{{currentDate | date :'dd-MMM-yyyy'}}</span> 
        </div>
      </div>
    </mat-card-title>
    <br><br>
    <!-- <table> 
       <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Specialisation</th>
      </tr>
      <tr style="text-align: center;" *ngFor="let doctor of doctors">
        <td>{{doctor.id}}</td>
        <td>{{doctor.name}}</td>
        <td>{{doctor.specialization}}</td>
      </tr> 
  
       <tr>{{doctor.name}}</tr>
        *ngFor="let doctor of doctors"
      <tr>{{doctor.specialization}}</tr>
    </table> -->
  
    <div class="example-container">
      <div class="example-loading-shade" *ngIf="isLoading" >
        <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
      </div>
      <div class="example-table-container">
        <table  mat-table [dataSource]="dataSource" class="mat-elevation-z14">
            <!-- <ng-container matColumnDef="position" >
                <th mat-header-cell *matHeaderCellDef class="position-head"> No. </th>
                <td mat-cell *matCellDef="let element" class="position-data"> {{element.position}} </td>
            </ng-container> -->
            
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="position-head"> Doctor name </th>
                <td mat-cell *matCellDef="let element" class="position-data"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="specialisation">
              <th mat-header-cell *matHeaderCellDef class="position-head"> Specialisation </th>
              <td mat-cell *matCellDef="let element" class="position-data"> {{element.specialisation}} </td>
            </ng-container>
        
            <ng-container matColumnDef="select"> 
              <th mat-header-cell *matHeaderCellDef class="position-head-check"> {{weekDate | date : 'dd - MMM - yyyy'}}
              </th>
              <td mat-cell *matCellDef="let element" class="position-data">
                <mat-checkbox (change)="element.day == 0? element.day = 1 : element.day = 0">
                </mat-checkbox>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
          </table>
      </div>
      
    </div>
    <br><br>
    <button mat-raised-button color="accent" class="update-btn" (click)="updateSchedule()" >Schedule</button>
  </mat-card>
  
</div>
