<mat-toolbar color="primary">
  <div style="width: fit-content; margin: auto;">
    <span style="cursor: pointer;" matTooltip="Login">Patient Login</span>
  </div>
  <span class="example-spacer"></span>
  <button (click)="NavigateToMain()" matTooltip="Go back to main page" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar><br><br>
<h1>Hello! Please login to view your dashboard</h1>


<form [formGroup]="loginForm">
  <div class="container">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. mat@gmail.com" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" placeholder="Ex. Gtyki@98!" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>  
    <button mat-raised-button color="primary" (click)="patientLogin()" [disabled]="!loginForm.valid">Login</button>
    <span>Don't have an account? <a matTooltip="go to registration page" (click)="NavigateToSignUp()" style="cursor: pointer; text-decoration: underline; color: blue;">SignUp</a>    </span>
  </div>
</form>
