<div>
  <!-- <br> -->
  <h3 mat-dialog-title style="text-align: center;">Check the dates to mark availability</h3>
  <div mat-dialog-content>
    <section class="example-section" *ngFor="let selected of selectedDates">
      <p><mat-checkbox (change)="updateDay(selected)">{{selected | date : 'd - MMM - yyy (EEEE)' }}</mat-checkbox></p>
    </section>
<!-- 
    <section class="example-section">
      <h4>You chose:</h4>
    </section> -->

  </div>
  <div mat-dialog-actions class="btns">
    <button (click)="openAddDialog('20ms','20ms')" mat-button mat-dialog-close color="primary">Go back</button>
    <button (click)="cancel()" mat-button mat-dialog-close style="color: red;">Cancel</button>
    <button mat-button mat-dialog-close cdkFocusInitial (click)="AddSchedule()" style="color: rgb(44, 201, 13);" (click)="openSnackBar()" [disabled]="x == 0">Add schedule</button>
    <br><br><br>
  </div>
</div>
