.container{
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}

.schedule-btn{
  display : flex;
  justify-content: flex-end;
  position : relative;
  margin-top: 0.5%;
  margin-right : 3%; 
}