<mat-toolbar color="primary">
  <button mat-icon-button matTooltip="go back" (click)="navToDash()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <div style="width: fit-content; margin: auto;">
    <span style="cursor: pointer;" matTooltip="update personal details">Update profile</span>
  </div>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-bar>
<br>
<form [formGroup]="updateForm" (ngSubmit)="updateData()">
  <div class="container" *ngFor="let pp of pat">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="fullname" placeholder={{pp.fullname}} />
      </mat-form-field>
    </div>  
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <input type="text" matInput formControlName="gender" placeholder={{pp.gender}} />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 212px;" color="accent" appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="age" placeholder="{{pp.age | date : 'dd-MMM-yyyy'}}" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="text" matInput formControlName="pasword" placeholder={{pp.pasword}} />
      </mat-form-field>
    </div>  
    <div>
      <mat-form-field appearance="outline">
        <mat-label>phone</mat-label>
        <input type="number" matInput formControlName="phone" placeholder={{pp.phone}}/>
      </mat-form-field>
    </div>  
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input type="text" matInput formControlName="adressLine" placeholder={{pp.adressLine}} />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input type="text" matInput formControlName="city" placeholder={{pp.city}} />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <input type="text" matInput formControlName="state" placeholder={{pp.state}} />
      </mat-form-field>
    </div>
    <div style="display: flex;flex-direction: column; gap: 1rem; justify-content: center; align-items: center; ">  
      <button style="padding: 1rem 7rem;" mat-raised-button color="primary" (click)="updatePassword()" [disabled]="!updateForm.valid" (click)="updateData()">Update</button>
    </div>
  </div>
</form>

