.dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
}

.dot-grp {
  display: flex; justify-content: center; align-items: center;
  gap: 1rem;
}

.state{
  color: gray;
  font-size: 0.875rem;
  font-weight: 500;
}

.card{
  margin-bottom: 1rem;
  width: 600px;
}

.img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.img-class{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}