<div class="card">
  <mat-card *ngIf="appot.length <= 0">
    <mat-card-content>
      <div>
        <h3 style="text-align: center;">Zero previous apponitments</h3>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div style="width: 600px; margin: auto;">
  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
</div>
<p *ngIf="appot.length > 0" class="state">Latest to oldest</p>
<div *ngFor="let a of mapped | paginate
: {
    itemsPerPage: tableSize,
    currentPage: page,
    totalItems: count
  }; let i = index">
  <div class="card">
  <mat-card>
    <div>
      <div style="display: flex; align-items: center; justify-content: space-around; padding: 2rem;">
        <div>
          <!-- <mat-card-title>Appointment {{i+1}}</mat-card-title> -->
          <mat-card-title style="font-size: 1rem;">{{a.value.date | date : 'dd-MMMYYYY'}}</mat-card-title>
        </div>
        <div>
          <div class="dot-grp" *ngIf="a.value.status == 0">
            <div>
              <span class="state">Pending </span>
            </div>
            <div>
              <img  class="img" src="https://cdn-icons-png.flaticon.com/512/6811/6811049.png" alt="pending">
            </div>
            <!-- <span class="dot" style="background-color: yellow;"></span> -->
          </div>  
          <div class="dot-grp"*ngIf="a.value.status == 1">
            <span class="state">Accepted </span>
            <!-- <span class="dot" style="background-color: green;"></span> -->
            <img class="img" src="https://cdn-icons-png.flaticon.com/512/190/190411.png" alt="Accepted">
          </div>  
          <div class="dot-grp"*ngIf="a.value.status == 2" >
            <span class="state">Rejected </span>
            <!-- <div class="dot" style="background-color: red;"></div> -->
            <img class="img" src="https://cdn-icons-png.flaticon.com/512/5978/5978441.png" alt="Rejected">
          </div>
          <div class="dot-grp" *ngIf="a.value.status == 3" >
            <div>
              <span class="state">Wating for doctor </span>
            </div>
            <div class="img-class">
              <img class="img" src="https://cdn-icons-png.flaticon.com/512/6811/6811049.png" alt="Completed">
            </div>
            <!-- <span class="dot" style="background-color: blue;"></span> -->
          </div>    
          <div class="dot-grp" *ngIf="a.value.status == 4" >
            <div>
              <span class="state">Completed </span>
            </div>
            <div class="img-class">
              <img class="img" src="https://cdn-icons-png.flaticon.com/512/1632/1632670.png" alt="Completed">
            </div>
            <!-- <span class="dot" style="background-color: blue;"></span> -->
          </div>  
        </div>
      </div>
    </div>
    
  </mat-card>
</div>
</div>
<pagination-controls style="display: flex; justify-content: center;" previousLabel="Prev" nextLabel="Next"
      (pageChange)="onTableDataChange($event)"></pagination-controls>
