.example-card {
    width: 350px;
    border-radius: 15px;
    margin-top: 6%;
    padding: 2rem;
  }
  
  .card-container{
    display : flex;
    flex-direction: row;
    gap: 7%;
    flex-wrap: wrap;
    justify-content: center;
}

h3{
    text-align: center;
}
  
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */

  .doctor-image{
    position: relative;
    margin : 20px;
    border-radius: 15px;
    box-shadow: 2px 2px rgba(black,0.5);
  }

  .book-btn{
    display: flex;
    position: inherit;
    justify-content: center;
    margin-bottom: 1rem;
    width: fit-content;
    margin: auto;
  }

  button{
    width :auto;
  }

  .appointment-card{
    display: flex;
    flex-direction: row;
    gap : 10px;
    justify-content: center;
    position: relative;
    width : 100%;
    margin-top: 5%;
    
  }